@media (max-width:320px) {
    :root {
        font-size: 10px !important;
    }

}

@media (min-width:768px) {
    :root {
        font-size: 12px !important;
    }

}

@media (min-width:1024px) {
    :root {
        font-size: 14px !important;
    }
}

@media (min-width:1280px) {
    :root {
        font-size: 15px !important;
    }
}

@media (min-width:2560px) {
    :root {
        font-size: 18px !important;
    }
}

